body {
  text-align: center;
  padding-top: 4rem;
}

#calc {
  border: 1px solid #444;
  display: inline-block;
}

#calc-display {
  height: 2rem;
  line-height: 2rem;
  text-align: right;
  padding: 0 0.5em;
}

#calc-buttons {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
}